.column__wrapper {
  background-color: #ebecf0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 280px;
  box-sizing: border-box;
  transition: 0.1s all;
}

.column__wrapper_dragging {
  transform: rotate(3deg);
}
