.columns__wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.columns__list {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.columns__create-button {
  padding: 6px 8px;
  background-color: #0000003d;
}
