.language-switcher {
  cursor: pointer;
  background-color: #026aa7;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-switcher:hover {
  background-color: #005688;
}
