.main-page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-page__boards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.main-page__title {
  color: rgba(0, 0, 0, 0.5);
}
