.board-page__wrapper {
  background: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2106x1600/fd60cbbc5245dab5b4ba36ff763b45b9/photo-1667475593866-df5afa3bd5f3.jpg');
  height: calc(100vh - 190px);
  background-position: 50%;
  background-size: cover;
  padding: 20px;
}

.board-page__wrapper {
  color: rgba(0, 0, 0, 0.5);
}
