.main-page__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-page__boards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
